<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item is-desktop" href="/">
      <img src="/static/logo-hd.png" height="48">
    </a>

    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <a class="navbar-item" blocking="render" rel="expect" href="{{ url_for('stemming.stem') }}">
        Stemming
      </a>

      <a class="navbar-item" blocking="render" rel="expect" href="{{ url_for('stemming.stem_word') }}">
        Stemming Kata
      </a>

      <a class="navbar-item" blocking="render" rel="expect" href="{{ url_for('search.search') }}">
        Pencarian
      </a>

      <a class="navbar-item" blocking="render" rel="expect" href="{{ url_for('about') }}">
        Tentang Aplikasi Ini
      </a>

      {% if current_user.is_authenticated %}
      <a class="navbar-item" blocking="render" rel="expect" href="{{ url_for('admin.list') }}">
        Dataset
      </a>

      <a class="navbar-item" blocking="render" rel="expect" href="{{ url_for('statistics.statistics') }}">
        Statistik
      </a>
      {% endif %}

      <div class="navbar-item" blocking="render" rel="expect">
        <div class="buttons">
          {% if current_user.is_authenticated %}
          <a class="button is-primary" href="{{ url_for('auth.logout') }}">
            Logout
          </a>
          {% else %}
          <!-- <a class="button is-primary" href="{{ url_for('auth.login') }}">
                        Login
                    </a> -->
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Add a click event on each of them
    $navbarBurgers.forEach(el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });

  });

</script>