{% extends "layouts/admin.html" %}

{% block content %}
<div class="container p-6">
  <!-- Insert/Update Message -->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="notification is-{{ category }}">
    <button class="delete"></button>
    {{ message | safe }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <!-- Header -->
  <div class="is-flex is-justify-content-space-between is-align-items-center mb-4">
    <h4 class="subtitle is-3">{{ _('list-title') }}</h4>
    <div class="columns is-mobile">
      <div class="column is-narrow">
        <!-- Search -->
        <form action="{{ url_for('admin.list') }}" method="get">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input class="input" type="text" name="q" value="{{ search_term }}" placeholder="{{ _('list-search-placeholder') }}">
            </div>
            <div class="control">
              <button class="button is-dark">
                {{ _('list-action-search') }}
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- Right Buttons -->
      <div class="column is-narrow">
        <!-- Add -->
        <a class="button is-link" href="{{ url_for('admin.create') }}">
          <span class="icon">
            <i class="fa fa-plus"></i>
          </span>
          <span>{{ _('list-action-add') }}</span>
        </a>
        <!-- Download -->
        <a class="button is-link" href="{{ url_for('admin.download') }}">
          <span class="icon">
            <i class="fa fa-download"></i>
          </span>
          <span>{{ _('list-action-download') }}</span>
        </a>
      </div>
    </div>
  </div>

  <!-- Card Container -->
  <div class="card" style="min-height: 600px;">
    <style>
      .truncate-content {
        max-width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    </style>
    <table class="table is-striped is-hoverable is-fullwidth" style="border-radius: var(--bulma-card-radius);">
      <thead>
        <tr>
          <th>{{ _('list-table-col-num') }}</th>
          <th>{{ _('list-table-col-title') }}</th>
          <th>{{ _('list-table-col-content') }}</th>
          <th width="15%">{{ _('list-table-col-date') }}</th>
          <th width="200px" class="has-text-centered">{{ _('list-table-col-tokens') }}</th>
          <th class="has-text-centered">{{ _('list-table-col-actions') }}</th>
        </tr>
      </thead>
      <tbody>
        {% if pagination.items %}
        {% for item in pagination.items %}
        <tr>
          <td>{{ ((pagination.page - 1) * 10) + loop.index }}</td>
          <td class="has-text-weight-semibold">{{ item.title }}</td>
          <td class="truncate-content">{{ item.raw.content }}</td>
          <td>{{ item.published_at.strftime('%d %b %Y') }}</td>
          <td class="has-text-centered">{{ item.word_count }}</td>
          <td class="has-text-centered">
            <div class="buttons is-centered">
              <a class="button is-small " href="{{ url_for('admin.update', id=item.id) }}">
                <span class="icon">
                  <i class="fa fa-pencil"></i>
                </span>
              </a>
              <button class="button is-small delete-button" data-id="{{ item.id }}">
                <span class="icon">
                  <i class="fa fa-trash"></i>
                </span>
              </button>
            </div>
          </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td colspan="6" class="has-text-centered">{{ _('list-table-status-nodata') }}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>


    <!-- Loading State -->
    {% if loading %}
    <div class="notification is-info has-text-centered">
      {{ _('list-table-status-loading') }}
    </div>
    {% endif %}
  </div>


  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    {% if pagination.has_prev %}
    <a class="pagination-previous"
      href="{{ url_for('admin.list', q=search_term, page=pagination.prev_num, per_page=pagination.per_page) }}">{{ _('list-pagination-prev') }}</a>
    {% else %}
    <a class="pagination-previous" disabled>{{ _('list-pagination-prev') }}</a>
    {% endif %}

    {% if pagination.has_next %}
    <a class="pagination-next"
      href="{{ url_for('admin.list', q=search_term, page=pagination.next_num, per_page=pagination.per_page) }}">{{ _('list-pagination-next') }}</a>
    {% else %}
    <a class="pagination-next" disabled>{{ _('list-pagination-next') }}</a>
    {% endif %}

    <ul class="pagination-list">
      {% for page in pagination.iter_pages(left_edge=2, left_current=2, right_current=2, right_edge=2) %}
      {% if page %}
      {% if page != pagination.page %}
      <li>
        <a class="pagination-link" aria-label="Goto page {{ page }}"
          href="{{ url_for('admin.list', q=search_term, page=page, per_page=pagination.per_page) }}">{{ page }}</a>
      </li>
      {% else %}
      <li>
        <a class="pagination-link is-current" aria-label="Page {{ page }}" aria-current="page">{{ page }}</a>
      </li>
      {% endif %}
      {% else %}
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>
{% endblock %}

{% block script %}
{{ super() }}

<script>
  document.addEventListener("DOMContentLoaded", () => {
    (document.querySelectorAll('.delete-button') || []).forEach(button => {
      const id = button.dataset.id;
      button.addEventListener('click', function deleteItem(e) {
        Swal.fire({
          title: "{{ _('list-modal-delete-title') }}",
          text: "{{ _('list-modal-delete-text') }}",
          icon: 'question',
          showCancelButton: true,
          confirmButtonText: "{{ _('list-modal-confirm') }}",
          cancelButtonText: "{{ _('list-modal-cancel') }}",
        }).then(result => {
          if (result.isConfirmed) {
            window.location.href = `/admin/remove/${id}`;
          }
        });
      });
    });
  });
</script>
{% endblock %}
