FLASK_SECRET_KEY=RANDOM SECRET HERE

SQLALCHEMY_ECHO=True
FLASK_SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://USER_HERE@postgres:5432/amsearch

FLASK_DEFAULT_LANGUAGE=id
FLASK_MESSAGES_DIR=/app/amsearch/i18n
FLASK_VOCAB_PATH=/models/stemming-vocab.txt
FLASK_MODEL_PATH=/models/ams-all-mpnet-base-v2
