{% extends "layouts/default.html" %}

{% block content %}
<!-- Logo -->
<div class="columns is-centered">
    <img src="/static/logo.png">
</div>

<!-- Tagline -->
<h2 class="subtitle">
    <span class="has-text-centered is-block">
        Discover the Unseen, Unearth the Answers, Unleash Your Curiosity! 🌐🔍
    </span>
</h2>

<!-- Contents -->
<div class="columns is-centered mt-6">
    <div class="column is-7">
        <p>
            Selamat datang di Amsearch Engine, pintu gerbang pengetahuan yang tak terbatas! Dengan teknologi
            terdepan, kami mempersembahkan pengalaman pencarian yang cepat, akurat, dan menyenangkan. Mari
            jelajahi dunia dengan ExploreX dan temukan jawaban untuk setiap pertanyaan yang menggelitik
            pikiran Anda!
        </p>

        <h4 class="mt-4 is-size-5 has-text-weight-semibold">[Fitur Unggulan]</h4>
        <ol>
            <li>Pencarian Cepat Teks: Waktu adalah aset berharga. Dengan ExploreX, temukan jawaban dan
                informasi
                yang Anda cari dalam sekejap. Tidak perlu menunggu, hanya ketuk dan temukan!</li>
            <li>Antarmuka Intuitif Teks: ExploreX didesain untuk memastikan setiap pengguna merasa nyaman
                saat
                menggunakannya. Dengan antarmuka intuitif, Anda akan menjelajahi dunia pengetahuan dengan
                lancar.</li>
            <li>Hasil Akurat Teks: Kami mengerti pentingnya keandalan informasi. ExploreX memberikan hasil
                pencarian yang akurat dan tepercaya, sehingga Anda dapat mengandalkan setiap jawaban yang
                ditemukan.</li>
            <li>Pencarian Multibahasa Teks: Jangan biarkan batasan bahasa menghalangi pengetahuan. ExploreX
                mendukung berbagai bahasa, memungkinkan Anda untuk mencari informasi dari seluruh dunia.
            </li>
            <li>Filter Kustom Teks: Sesuaikan pencarian Anda dengan filter kustom kami. Saring hasil
                berdasarkan
                tanggal, sumber, atau jenis konten untuk mendapatkan informasi yang paling relevan dengan
                kebutuhan Anda.</li>
        </ol>
    </div>
</div>
{% endblock %}