{% extends "layouts/default.html" %}

{% block content %}
<!-- Header Section -->
<section class="section has-text-centered">
  <div class="container">
    <figure class="image is-inline-block">
      <img src="/static/credits.png" style="max-height: 30rem;" alt="Pembuat Aplikasi AMSearch">
    </figure>
    <h2 class="subtitle is-4 mt-4">
      Discover the Unseen, Unearth the Answers, Unleash Your Curiosity!
      <span class="icon has-text-success">
        <i class="fa-solid fa-globe"></i>
      </span>

      <span class="icon has-text-info">
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
    </h2>
  </div>
</section>

<!-- Introduction Section -->
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-12-mobile is-10-tablet is-8-desktop">
        <p class="is-size-5">
          Selamat datang di Amsearch Engine, pintu gerbang pengetahuan yang tak terbatas! Dengan teknologi
          terdepan, kami mempersembahkan pengalaman pencarian yang cepat, akurat, dan menyenangkan. Mari
          jelajahi dunia dengan ExploreX dan temukan jawaban untuk setiap pertanyaan yang menggelitik
          pikiran Anda!
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Features Section -->
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-12-mobile is-10-tablet is-8-desktop">
        <h4 class="title is-5 has-text-weight-semibold has-text-black">Fitur Unggulan</h4>
        <ul class="content is-medium has-text-justified">
          <li><span class="has-text-success">Pencarian Cepat:</span> Waktu adalah aset berharga. Dengan ExploreX, temukan jawaban dan
            informasi
            yang Anda cari dalam sekejap. Tidak perlu menunggu, hanya ketuk dan temukan!</li>
          <li><span class="has-text-success">Antarmuka Intuitif:</span> ExploreX didesain untuk memastikan setiap pengguna merasa nyaman saat
            menggunakannya. Dengan antarmuka intuitif, Anda akan menjelajahi dunia pengetahuan dengan
            lancar.</li>
          <li><span class="has-text-success">Hasil Akurat:</span> Kami mengerti pentingnya keandalan informasi. ExploreX memberikan hasil
            pencarian yang akurat dan tepercaya, sehingga Anda dapat mengandalkan setiap jawaban yang
            ditemukan.</li>
          <li><span class="has-text-success">Pencarian Multibahasa:</span> Jangan biarkan batasan bahasa menghalangi pengetahuan. ExploreX
            mendukung berbagai bahasa, memungkinkan Anda untuk mencari informasi dari seluruh dunia.</li>
          <li><span class="has-text-success">Filter Kustom:</span> Sesuaikan pencarian Anda dengan filter kustom kami. Saring hasil
            berdasarkan
            tanggal, sumber, atau jenis konten untuk mendapatkan informasi yang paling relevan dengan
            kebutuhan Anda.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}