{% extends "layouts/default.html" %}

{% block head %}
<style>
  [data-tooltip] {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 5px;
    white-space: pre-wrap;
  }

  [data-tooltip]:before {
    /* required code */
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;

    /* customizable */

    transition: 256ms all ease;
    padding: 10px 20px;
    color: #333;
    border-radius: 5px;
    box-shadow: 0px 6px 21px rgb(0 0 0 / 10%);
  }

  [data-tooltip]:hover:before {
    /* required code */
    opacity: 1;
    display: block;

    /* customizable */
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    top: -30px;
  }
</style>
{% endblock %}

{% block content %}
<h1 class="subtitle is-2 has-text-centered">Stemming</h1>

<form id="stemming-form" action="{{ url_for('stemming.stem') }}" method="post" class="mb-4">
  <div class="card">
    <div class="card-content">

      <!-- Top Buttons -->
      <div class="is-flex mb-4">
        <!-- File Selector -->
        <div class="file has-name mb-0 mr-4">
          <label class="file-label">
            <input id="input-file" class="file-input" type="file" name="input-file" accept="text/plain" />
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label"> Pilih berkas TXT... </span>
            </span>
            <span id="input-file-name" class="file-name"> Belum ada file TXT dipilih </span>
          </label>
        </div>

        <!-- Stem per word -->
        <a class="button is-info" href="{{ url_for('stemming.stem_word') }}">Stemming per Kata</a>
      </div>

      <!-- Input Text -->
      <textarea id="input-text" name="input-text" class="textarea" rows="10" style="min-height: 200px;"
        placeholder="Input teks">{{ input_text }}</textarea>

      <div class="columns is-centered mt-4">
        <div class="column is-half is-full-mobile">
          <button id="submit-button" type="submit" class="button is-medium is-dark is-fullwidth" disabled>
            <span class="has-text-weight-semibold">Proses Stemming</span>
          </button>
        </div>
      </div>

    </div>
  </div>
</form>

{% if stems %}
<!-- Result Stemming Text -->
<div class="columns is-multiline mt-2">
  <div class="column is-full-mobile is-half-tablet is-one-quarter-desktop">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Hasil Stemming AMS</p>
      </header>
      <div class="card-content">
        <div class="content">
          <p>{{ output_ams }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-full-mobile is-half-tablet is-one-quarter-desktop">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Hasil Stemming Purwoko</p>
      </header>
      <div class="card-content">
        <div class="content">
          <p>{{ output_purwoko }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-full-mobile is-half-tablet is-one-quarter-desktop">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Hasil Stemming Sastrawi</p>
      </header>
      <div class="card-content">
        <div class="content">
          <p>{{ output_sastrawi }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-full-mobile is-half-tablet is-one-quarter-desktop">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Hasil Stemming UG18</p>
      </header>
      <div class="card-content">
        <div class="content">
          <p>{{ output_ug18 }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Stemming Statistics -->
<div class="card p-5" style="height: 300px;">
  <canvas id="stats-tokens-chart"></canvas>
</div>

<!-- Stemming per Word/Token -->
<div class="card">
  <table class="table is-striped is-hoverable is-fullwidth mb-2" style="border-radius: var(--bulma-card-radius); max-height: 300px;">
    <thead>
      <tr>
        <th>Kata/Token</th>
        <th>AMS</th>
        <th>Purwoko</th>
        <th>Sastrawi</th>
        <th>UG18</th>
      </tr>
    </thead>
    <tbody>
      {% for item in stems %}
      <tr>
        <td>{{ item.original }}</td>
        <td>{{ item.ams }}</td>
        <td>{{ item.purwoko }}</td>
        <td>{{ item.sastrawi }}</td>
        <td>{{ item.ug18 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endif %}
{% endblock %}


{% block script %}
{{ super() }}

<script>
  addEventListener("DOMContentLoaded", () => {
    const fileInput = document.getElementById("input-file");
    const inputText = document.getElementById("input-text");
    const submitButton = document.getElementById("submit-button");

    // Function to toggle the submit button state
    const toggleSubmitButton = () => {
      submitButton.disabled = inputText.value.trim().length === 0;
    };

    // File input onchange event
    fileInput.onchange = () => {
      if (fileInput.files.length === 0) return;

      const file = fileInput.files[0];
      const fileName = document.getElementById("input-file-name");
      fileName.textContent = file.name;

      const reader = new FileReader();
      reader.readAsText(file, "UTF-8");
      reader.onload = function (evt) {
        inputText.value = evt.target.result;
        toggleSubmitButton(); // Enable submit button if there's text
      };
      reader.onerror = function (evt) {
        inputText.value = "Gagal membaca file! Coba file lain.";
        toggleSubmitButton(); // Disable submit button on error
      };
    };

    // Textarea input event
    inputText.addEventListener("input", toggleSubmitButton);

    // charts
    new Chart(document.getElementById('stats-tokens-chart'), {
      type: 'bar',
      data: {
        labels: ['AMS', 'Purwoko', 'Sastrawi', 'UG18'],
        datasets: [
          {
            label: 'Token di-stemming',
            data: JSON.parse("{{ stats_stemmed_tokens }}"),
            yAxisID: 'y',
          },
          {
            label: 'Token benar',
            data: JSON.parse("{{ stats_correct_tokens }}"),
            yAxisID: 'y',
          },
          {
            label: 'Akurasi',
            data: JSON.parse("{{ stats_accuracy }}"),
            type: 'line',
            yAxisID: 'y2',
          },
        ]
      },
      options: {
        maintainAspectRatio: false,
        scales: {
          y: {
            beginAtZero: true,
            position: 'left',
            title: {
              display: true,
              text: "Jumlah token"
            },
          },
          y2: {
            beginAtZero: true,
            position: 'right',
            title: {
              display: true,
              text: "Akurasi (%)"
            },
            grid: {
              drawOnChartArea: false
            }
          },
        }
      }
    });

  });
</script>
{% endblock %}
