{% extends "layouts/default.html" %}

{% block content %}
<h1 class="title is-1 has-text-centered">Stemming</h1>

<!-- File Selector -->
<div class="file has-name mb-4">
    <label class="file-label">
        <input id="input-file" class="file-input" type="file" name="input-file" accept="text/plain" />
        <span class="file-cta">
            <span class="file-icon">
                <i class="fas fa-upload"></i>
            </span>
            <span class="file-label"> Pilih file... </span>
        </span>
        <span id="input-file-name" class="file-name"> Belum ada file dipilih </span>
    </label>
</div>

<!-- Input Text -->
<form action="{{ url_for('stemming.stem') }}" method="post" class="mb-6">
    <textarea id="input-text" name="input-text" class="textarea" rows="10"
        placeholder="Input teks">{{ input_text }}</textarea>

    <div class="columns is-justify-content-center mt-5">
        <div class="field has-addons has-shadow-field">
            <button type="submit" class="button is-large is-primary">
                <span class="has-text-weight-semibold">Proses Stemming</span>
            </button>
        </div>
    </div>
</form>

{% if stems %}
<!-- Result Stemming Text -->
<div class="columns mt-2 is-3">
    <div class="column box is-shadowless">
        <p class="subtitle is-5 m-1">Hasil Stemming AMS</p>
        <p>{{ output_ams }}</p>
    </div>

    <div class="column box is-shadowless">
        <p class="subtitle is-5 m-1">Hasil Stemming Purwoko</p>
        <p>{{ output_purwoko }}</p>
    </div>

    <div class="column box is-shadowless">
        <p class="subtitle is-5 m-1">Hasil Stemming Sastrawi</p>
        <p>{{ output_sastrawi }}</p>
    </div>

    <div class="column box is-shadowless">
        <p class="subtitle is-5 m-1">Hasil Stemming UG18</p>
        <p>{{ output_ug18 }}</p>
    </div>
</div>

<!-- Stemming per Word/Token -->
<table class="table is-striped is-hoverable is-fullwidth mt-5">
    <thead>
        <tr>
            <th>Kata/Token</th>
            <th>AMS</th>
            <th>Purwoko</th>
            <th>Sastrawi</th>
            <th>UG18</th>
        </tr>
    </thead>
    <tbody>
        {% for item in stems %}
        <tr>
            <td>{{ item.original }}</td>
            <td>{{ item.ams }}</td>
            <td>{{ item.purwoko }}</td>
            <td>{{ item.sastrawi }}</td>
            <td>{{ item.ug18 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}

{% block script %}
{{ super() }}

<script>
    addEventListener("DOMContentLoaded", () => {
        const fileInput = document.getElementById("input-file");
        fileInput.onchange = () => {
            // check if file is selected
            if (fileInput.files.length === 0) {
                return;
            }

            // get the file
            const file = fileInput.files[0];

            // set filename
            const fileName = document.getElementById("input-file-name");
            fileName.textContent = file.name;

            // read text file
            const reader = new FileReader();
            reader.readAsText(file, "UTF-8");
            reader.onload = function (evt) {
                document.getElementById("input-text").value = evt.target.result;
            }
            reader.onerror = function (evt) {
                document.getElementById("input-text").value = "Gagal membaca file! Coba file lain.";
            }
        };
    })
</script>
{% endblock %}